# Folders to ignore
checkpoints/
data/
.vscode/
logs/
.dist/
wandb/
.wandb/
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
__pypackages__/
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.pyre/
.pytype/
cython_debug/
ai_lib/
easy-rl/
olympics_engine/
ckpt/
models/__pycache__/
self_play_dir/
self_paly_dir_bigger/
self_play_dir_with_random/
running/
test/
table-hockey/
running4/
wrestling/
classify-ckpt/

# File types to ignore
*.py[cod]
*$py.class
*.so
*.manifest
*.spec
*.mo
*.pot
*.log
*.cover
*.py,cover
*.sage.py
*.egg-info/
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
dmypy.json
.Python
.pdm.toml
.pdm-python
.pdm-build/

# SQLite database files
db.sqlite3
db.sqlite3-journal

# Python environment files
.env
.venv

# Byte-compiled / optimized / DLL files
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm (optional, uncomment if needed)
#.idea/
